@model SpPedidosProviderHostedWeb.Models.Totales

@{
    ViewBag.Title = "TotalPedidos";
}

<h2>TotalPedidos: @Model.Numero</h2>
<h3>Total facturado: @Model.Total</h3>
<h3>Por cliente: @Model.MediaCliente</h3>

